__pycache__
*.sdfgz
*.sdfg
.dacecache
_dacegraphs
utils/config.py
data_*/
data/
**.got
**.want
gotwant/
.DS_Store
**/.DS_Store
ptx_out/*.o
ptx_out/*.ii
ptx_out/*.module_id
ptx_out/*.cubin
ptx_out/*.fatbin
ptx_out/*.fatbin.*
ptx_out/*dlink*
ptx_out/*cudafe1*
